@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-slate-50: #f8fafc;
	--color-slate-200: #e2e8f0;
	--color-slate-400: #94a3b8;
	--color-black: #000;
	--color-dark-blue: #0b1120;
	--color-dark-blue-2: #151c2e;
	--color-dark-blue-3: #242b3c;
	--color-sky-400: #60a5fa;
	--color-sky-800: #075985;
	--color-amber-400: #fbbf24;
	--color-amber-800: #9f7f00;
}

html {
	--text-primary: var(--color-black);
	--text-secondary: var(--color-slate-400);
	--text-active: var(--color-amber-800);
	--bg-primary: var(--color-slate-50);
	--bg-secondary: var(--color-slate-200);
	--bg-tertiary: var(--color-slate-400);
	--header: var(--color-sky-800);
}

html.dark {
	--text-primary: var(--color-slate-200);
	--text-secondary: var(--color-slate-400);
	--text-active: var(--color-amber-400);
	--bg-primary: var(--color-dark-blue);
	--bg-secondary: var(--color-dark-blue-2);
	--bg-tertiary: var(--color-dark-blue-3);
	--header: var(--color-sky-400);
}

body {
	background-color: var(--bg-primary);
}

@media (orientation: landscape) {
	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-image: linear-gradient(
			135deg,
			#c6e2ff 0,
			var(--color-sky-400) 50%,
			#006de1 100%
		);
	}

	::-webkit-scrollbar-track {
		border-radius: 3px;
		background-color: transparent;
	}

	::-webkit-scrollbar {
		width: 12px;
		background-color: var(--bg-tertiary);
	}

	.otherScroll::-webkit-scrollbar {
		width: 4px;
		background-color: var(--bg-tertiary);
	}

	.otherScroll > code::-webkit-scrollbar {
		height: 4px;
		width: 4px;
		background-color: var(--bg-tertiary);
	}
}

::selection {
	background-color: var(--color-amber-400);
	-webkit-text-fill-color: var(--color-black) !important;
	color: var(--color-black);
	background-image: none !important;
	background-clip: revert !important;
	text-shadow: none !important;
}

@layer components {
	.wrapper {
		height: 2rem;
		width: 3rem;
		background-color: #7dd3fc;
		position: relative;
		display: flex;
		justify-content: center;
		z-index: 0;
	}

	.lid-one {
		position: absolute;
		height: 40%;
		width: 40%;
		top: 0;
		left: 0;
		border-right: 1.5rem solid transparent;
		border-bottom: 1rem solid transparent;
		border-left: 1.6rem solid #0284c7;
		border-top: 1.15rem solid #0284c7;
		transform-origin: top;
		transition: transform 0.25s linear;
		transform: rotateX(0deg);
		z-index: 3;
		transition-delay: 0.75s;
	}

	.lid-one:after {
		content: "";
		position: absolute;
		height: 40%;
		width: 40%;
		top: -1.2rem;
		left: -1.475rem;
		border-right: 1.5rem solid transparent;
		border-bottom: 1rem solid transparent;
		border-left: 1.5rem solid transparent;
		border-top: 0.875rem solid #7dd3fc;
		transform-origin: top;
		transition: transform 0.25s linear;
		transform: rotateX(0deg);
		z-index: 2;
		transition-delay: 0.75s;
	}

	.link-wrapper:hover .lid-one {
		transform: rotateX(90deg);
		transition-delay: 0s;
	}

	.link-wrapper:hover .lid-two {
		transform: rotateX(180deg);
		transition-delay: 0.25s;
	}

	.link-wrapper:hover .letter {
		transform: translateY(-0.75rem);
		transition-delay: 0.5s;
	}

	.lid-two {
		position: absolute;
		height: 40%;
		width: 40%;
		top: 0;
		left: 0;
		border-right: 1.5rem solid transparent;
		border-bottom: 1rem solid transparent;
		border-left: 1.5rem solid transparent;
		transform-origin: top;
		transition: transform 0.25s linear;
		border-top: 1rem solid #7dd3fc;
		transform: rotateX(90deg);
		z-index: 1;
		transition-delay: 0.5s;
	}

	.envelope {
		position: absolute;
		height: 40%;
		width: 40%;
		top: 0;
		left: 0;
		border-top: 1rem solid transparent;
		border-right: 1.6rem solid #0284c7;
		border-bottom: 1.15rem solid #0284c7;
		border-left: 1.65rem solid #0284c7;
		z-index: 3;
	}

	.envelope:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: -1rem;
		left: -1.5rem;
		width: 100%;
		height: 100%;
		border-top: 1rem solid transparent;
		border-right: 1.5rem solid #7dd3fc;
		border-bottom: 1rem solid #7dd3fc;
		border-left: 1.5rem solid #7dd3fc;
		z-index: 2;
	}

	.letter {
		position: absolute;
		top: 0;
		width: 80%;
		height: 80%;
		background-color: white;
		border-radius: 15px;
		z-index: 2;
		transition: 0.5s;
	}
}
